CoffeShop/.idea/.idea.CoffeShop/.idea/workspace.xml
*.dll
*.exe
*.pdb
CoffeShop/CoffeShop.Api/obj/Debug/net6.0/staticwebassets.build.json
CoffeShop/CoffeShop.Api/obj/Debug
CoffeShop/CoffeShop.Api/obj
CoffeShop/CoffeShop.Api/bin/Debug/net6.0/CoffeShop.Api.deps.json
CoffeShop/CoffeShop.Api/bin/Debug/net6.0/CoffeShop.Api.runtimeconfig.json
CoffeShop/CoffeeShop.Api/obj
CoffeShop/CoffeeShop.Api/bin
CoffeShop/CoffeeShop.DataAccess/obj
CoffeShop/CoffeeShop.Domain/obj
CoffeShop/CoffeeShop.Domain/bin/Debug
CoffeShop/.idea/.idea.CoffeShop/.idea/efCoreCommonOptions.xml
CoffeShop/CoffeeShop.DataAccess/bin
CoffeShop/CoffeeShop.BusinessLogic/obj
CoffeShop/CoffeeShop.BusinessLogic/bin
CoffeShop/.idea/.idea.CoffeShop/.idea/dataSources/1b393452-a5e2-43f6-8ed3-2457f00eac92/storage_v2/_src_/database/CoffeeShopDatabase.nZhfgw
CoffeShop/.idea/.idea.CoffeShop/.idea/dataSources
CoffeShop/CoffeeShop.Tests/obj
CoffeShop/CoffeeShop.Tests/bin/Debug
*.user
CoffeShop/.idea/.idea.CoffeShop/.idea/dataSources.local.xml
.vs/CoffeeShop/DesignTimeBuild
.vs/ProjectEvaluation
.vs/CoffeeShop/FileContentIndex
